h1 {
    font-size: 3vw;
    text-align: center;
}

header {    
    margin: 10px; 
    padding: 10px;
    border: 5px solid rgb(123, 220, 123);
    background-color: lightblue;
    color: navy;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
img {
    border: 5px solid navy;
    margin: 10px;
}

h2 {
    margin: 10px; 
    padding: 10px;
    border: 5px solid rgb(121, 53, 128);
    background-color: lightblue;
    color: navy;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 30px;
    padding: 10px;
    background-color: rgba(196, 159, 201, 0.72);
}

body section p {
    margin: 10px;
    text-align: left;
    font-size: 20px;
    color: black;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
}

body section ul {
    margin: 10px;
    text-align: left;
    font-size: 20px;
    color: black;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: circle;
    list-style-position: inside;
}

body section ol {
    margin: 10px;
    text-align: left;
    font-size: 20px;
    color: black;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: decimal;
    list-style-position: inside;
}

footer {
    margin: 10px;
    text-align: center;
    font-size: 20px;
    color: black;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
}





















